body {
  background: url(imagens/Mask\ group.png) no-repeat;
  margin: 0;
  padding: 0;
  background-color: #04000f;
  padding: 0px;
  background-size: contain;
  background-position: unset;
  max-width: 1920px;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -3;
}

.content {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  color: white;
  font-size: 2em;
}

header {
  padding-top: 15px;
  padding-left: 70px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.logo img {
  max-height: 100px;
  padding-left: 20px;
}

.bigmenu {
  position: block;
}
.bigmenu ul {
  list-style: none;
  display: flex;
}

.bigmenu ul li {
  margin-right: 60px;
}

.bigmenu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.hamburger {
  position: absolute;
  display: block;
  width: 45px;
  cursor: pointer;
  margin-left: 74.5%;
  margin-bottom: 20px;

  appearance: none;
  background: none;
  outline: none;
  border: none;

  z-index: 2;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-8px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100svh;
  display: block;
  z-index: 98;
  background-color: rgba(6, 6, 12, 0.959);
  padding-top: 120px;
  transition: 0.4s;

  z-index: 1;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;

  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;

  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
}

.mobile-nav a:hover {
  color: #816bc0;
}
.title {
  animation: fadeIn 5s;
  top: 80px;
  font-size: 300%;
  color: #ffffff;
  position: relative;
  text-align: center;
  font-family: "Zen Dots", sans-serif;
}

.title1 {
  animation: fadeIn 6s;
  top: 40px;
  font-style: italic;
  font-size: 170%;
  color: #ffffff;
  position: relative;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.gif1 {
  width: 500px;
  height: 500px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.retangulo {
  width: 97.9%;
  height: 810px;
  background-color: #a5a5a5;
  color: #000000;
  padding: 20px;
  border-radius: 0px;
  position: relative;
  top: 120px;
  font-family: "Ubuntu", sans-serif;
}
.retangulotexto1 {
  animation: fadeIn 4s;
  top: -700px;
  font-style: normal;
  font-size: 123%;
  color: #000000;
  position: relative;
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  width: 40%;
  height: 300px;
  overflow: hidden;
  left: 100px;
  line-height: 1.8;
}
.retangulotexto2 {
  animation: fadeIn 4s;
  top: -1000px;
  font-style: normal;
  font-size: 125%;
  color: #000000;
  position: relative;
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  width: 35%;
  height: 250px;
  overflow: hidden;
  left: 60%;
  line-height: 1.8;
}

.scroll-down {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  color: #c2c2c2;
  cursor: pointer;
  transition: color 0.3s ease;
  left: 940px;
  top: 840px;
}

.scroll-down:hover {
  color: #816bc0;
}
.imagem1 {
  width: 27%;
  height: 350px;
  position: relative;
  top: 330px;
  left: 6%;
  max-width: none;
  object-fit: cover;
}
.imagem2 {
  width: 27%;
  height: 350px;
  position: relative;
  top: 330px;
  left: 8.5%;
  max-width: none;
  object-fit: cover;
}
.imagem3 {
  width: 27%;
  height: 350px;
  position: relative;
  top: 330px;
  left: 11%;
  max-width: none;
  object-fit: cover;
}
.button {
  padding: 1% 1%;
  font-size: 1.5vw;
  position: absolute;
  top: 82%;
  left: 48%;
  transform: translateX(-50%);
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 2vw;
  background-color: #1b1b1b;
  border: none;
  color: #ffffff;
  text-align: center;
  width: 10vw;
  margin: 2vw;
}

.button:hover {
  background-color: #3b326e;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

footer {
  color: white;
  font-family: "Ubuntu", sans-serif;
  background-color: #060606;
  text-align: center;
  padding: 20px 0;
  color: rgba(255, 255, 255, 30%);
  justify-content: space-around;
}

footer p {
  font-size: 20px;
}

footer input {
  width: 250px;
  height: 32px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 30%);
  border-radius: 4px;
  outline: none;
  margin: 10px 15px 20px 0;

  text-align: left;
  font-family: "Ubuntu", sans-serif;
  color: rgba(255, 255, 255, 30%);
  font-size: 16px;
  padding-left: 10px;
}

footer .btn {
  width: 95px;
  height: 36px;
  background: none;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 30%);
  border-radius: 4px;
  cursor: pointer;

  color: rgba(255, 255, 255, 30%);
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  text-align: none;
}

/*Desktop e Tablet*/
@media (min-width: 950px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }
}

@media (max-width: 950px) {
  header {
    padding-top: 15px;
    padding-left: 70px;
    padding-right: 50px;
    display: flex;

    justify-content: space-between;
    align-items: center;

    font-family: "Ubuntu", sans-serif;
    font-weight: none;
    font-size: none;
  }
  .bigmenu {
    display: none;
  }

  #threeColumns {
    font-size: 18px;
  }
  .sizeImage {
    width: 180px;
    height: 180px;
  }

  .size1 {
    font-size: 40px;
  }
  .size2 {
    font-size: 20px;
  }
  .size3 {
    font-size: 16px;
  }
  .reposition {
    margin-top: -38px;
  }
}

@media (max-width: 850px) {
  .title1 {
    font-size: 225%;
  }
  .title2 {
    font-size: 115%;
  }

  #threeColumns {
    font-size: 18px;
  }
  .sizeImage {
    width: 160px;
    height: 160px;
  }

  .size1 {
    font-size: 32px;
  }
  .size2 {
    font-size: 18px;
  }
  .size3 {
    font-size: 12px;
  }
  .reposition {
    margin-top: -34px;
  }
}
@media (max-width: 830px) {
  .body {
    margin: 0;
    height: 0;
  }
  .titleprim {
    animation: fadeIn 5s;
    top: 100px;
    font-size: 2.5vw;
    color: #ffffff;
    position: relative;
    text-align: center;
    font-family: "Zen Dots", sans-serif;
  }

  .titlesec {
    animation: fadeIn 6s;
    top: 100px;
    font-size: 1.5vw;
    font-style: italic;
    color: #ffffff;
    position: relative;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
  }

  header {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: none;
    font-weight: none;
    font-size: none;
  }
  .button {
    padding: 2% 2%;
    font-size: 5vw;
    position: absolute;
    top: 88%;
    left: 38%;
    transform: translateX(-50%);
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 4vw;
    background-color: #1b1b1b;
    border: none;
    color: #ffffff;
    text-align: center;
    width: 20vw;
    margin: 5vw;
  }

  .button:hover {
    background-color: #3b326e;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .logo img {
    max-height: 100px;
    padding-left: 0px;
    padding-top: 5px;
  }

  nav ul {
    display: none;
  }

  .hamburger {
    position: absolute;
    display: block;
    width: 45px;
    cursor: pointer;
    margin-left: 80%;

    appearance: none;
    background: none;
    outline: none;
    border: none;

    z-index: 2;
  }
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100svh;
    display: block;
    z-index: 98;
    background-color: rgba(6, 6, 12, 0.959);
    padding-top: 120px;
    transition: 0.4s;

    z-index: 1;
  }

  .gif1 {
    width: 400px;
    height: 400px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }

  .retangulo {
    width: 700px;
    height: 1800px;
    background-color: #a5a5a5;
    color: #000000;
    padding: 20px;
    border-radius: 0px;
    position: relative;
    top: 175px;
    font-family: "Ubuntu", sans-serif;
    z-index: -1;
  }
  .retangulotexto1 {
    animation: fadeIn 4s;
    top: -1600px;
    font-style: normal;
    font-size: 90%;
    color: #000000;
    position: relative;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    width: 80%;
    height: auto;
    overflow: hidden;
    left: 55px;
    line-height: 2;
    z-index: 2;
  }

  .retangulotexto2 {
    animation: fadeIn 4s;
    top: -1570px;
    font-style: normal;
    font-size: 105%;
    color: #000000;
    position: relative;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    width: 100%;
    height: auto;
    overflow: hidden;
    left: 55px;
    line-height: 1.8;
    z-index: 2;
  }
  .imagem1 {
    width: 500px;
    height: 300px;
    position: relative;
    top: 590px;
    left: 35px;
    max-width: none;
    object-fit: cover;
  }
  .imagem2 {
    width: 500px;
    height: 300px;
    position: relative;
    top: 600px;
    left: 35px;
    max-width: none;
    object-fit: cover;
  }
  .imagem3 {
    width: 500px;
    height: 300px;
    position: relative;
    top: 610px;
    left: 35px;
    max-width: none;
    object-fit: cover;
  }

  .scroll-down {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 35px;
    color: #c2c2c2;
    cursor: pointer;
    transition: color 0.3s ease;
    left: 290px;
    top: 840px;
    z-index: 3;
  }

  .scroll-down:hover {
    color: #816bc0;
  }
}
/*Phone*/
@media (max-width: 630px) {
  .titleprim {
    animation: fadeIn 5s;
    top: 100px;
    font-size: 2.5vw;
    color: #ffffff;
    position: relative;
    text-align: center;
    font-family: "Zen Dots", sans-serif;
  }

  .titlesec {
    animation: fadeIn 6s;
    top: 100px;
    font-size: 1.5vw;
    font-style: italic;
    color: #ffffff;
    position: relative;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
  }

  header {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: none;
    font-weight: none;
    font-size: none;
  }
  .button {
    padding: 2% 2%;
    font-size: 5vw;
    position: absolute;
    top: 88%;
    left: 38%;
    transform: translateX(-50%);
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 4vw;
    background-color: #1b1b1b;
    border: none;
    color: #ffffff;
    text-align: center;
    width: 20vw;
    margin: 5vw;
  }

  .button:hover {
    background-color: #3b326e;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .logo img {
    max-height: 100px;
    padding-left: 0px;
    padding-top: 5px;
  }

  nav ul {
    display: none;
  }

  .hamburger {
    position: absolute;
    display: block;
    width: 45px;
    cursor: pointer;
    margin-left: 80%;

    appearance: none;
    background: none;
    outline: none;
    border: none;

    z-index: 2;
  }
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100svh;
    display: block;
    z-index: 98;
    background-color: rgba(6, 6, 12, 0.959);
    padding-top: 120px;
    transition: 0.4s;

    z-index: 1;
  }

  .gif1 {
    width: 400px;
    height: 400px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }

  .retangulo {
    width: 700px;
    height: 1800px;
    background-color: #a5a5a5;
    color: #000000;
    padding: 20px;
    border-radius: 0px;
    position: relative;
    top: 175px;
    font-family: "Ubuntu", sans-serif;
    z-index: -1;
  }
  .retangulotexto1 {
    animation: fadeIn 4s;
    top: -1600px;
    font-style: normal;
    font-size: 90%;
    color: #000000;
    position: relative;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    width: 80%;
    height: auto;
    overflow: hidden;
    left: 55px;
    line-height: 2;
    z-index: 2;
  }

  .retangulotexto2 {
    animation: fadeIn 4s;
    top: -1570px;
    font-style: normal;
    font-size: 105%;
    color: #000000;
    position: relative;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    width: 100%;
    height: auto;
    overflow: hidden;
    left: 55px;
    line-height: 1.8;
    z-index: 2;
  }
  .imagem1 {
    width: 500px;
    height: 300px;
    position: relative;
    top: 590px;
    left: 35px;
    max-width: none;
    object-fit: cover;
  }
  .imagem2 {
    width: 500px;
    height: 300px;
    position: relative;
    top: 600px;
    left: 35px;
    max-width: none;
    object-fit: cover;
  }
  .imagem3 {
    width: 500px;
    height: 300px;
    position: relative;
    top: 610px;
    left: 35px;
    max-width: none;
    object-fit: cover;
  }

  .scroll-down {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 35px;
    color: #c2c2c2;
    cursor: pointer;
    transition: color 0.3s ease;
    left: 290px;
    top: 840px;
    z-index: 3;
  }

  .scroll-down:hover {
    color: #816bc0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
